<div class="sidebar" data-color="green" data-image="/images/sidebar-1.jpg">
    <div class="logo">
        <a href="/offers" class="simple-text">
            <img src="/images/logo.png">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="/offers" class="active">
                <i class="material-icons">dashboard</i>
                <p>Offers</p>
                </a>
            </li>
        </ul>
    </div>
</div>